<h1>Restaurants</h1>
<div id="restaurant-list">
  <% @restaurants.each do |restaurant| %>
    <div id="restaurant-card" class="container mt-3 border-bottom">
      <h3> <%= link_to restaurant.name, restaurant_path(restaurant) %> </h3>
    </div>
  <% end %>

  <%= link_to "Add new restaurant", new_restaurant_path, class: "btn btn-primary" %>
</div>
